<html>

<head>
<meta name="GENERATOR" content="Microsoft FrontPage 5.0">
<meta name="ProgId" content="FrontPage.Editor.Document">
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>New Page 1</title>
</head>

<body>

<%= button_to "Export To Excel", :controller => 'users', :action => "MonthWiseusersummery" ,:month => "#{params[:date][:month]}", :year => "#{params[:date][:year]}"   %>

<table height="1" width="424" align=center>
<tr>

	<td height="40" width="294">	
 		<table border=5 width="1" height="75" bordercolor="#336699" align=center> 		
 		<tr>
            <td bgcolor="#FFFFFF" height="169" width="471">
 		<table border=0 width="818" height="181">
 		<tr>
          <td height="118" width="1048" style="border-style: solid; border-width: 1">
          
          <p align=center>
      		<b>
      		<font face="Arial" size="4" color="#336699">Month Wise User Summary </font></b>
      		<br/>
      		 <p align="left">Generated On: <%= Date.today %> 
      		 
             <p>Branch Name:<% @t = Service.find_by_sql("select branchname as b1 from settings" )%><%= @t[0].b1 %></p>

      		</p>
      		</td></tr>

 	        <tr>
 	        <td height="1">
 			<% @a=params[:date][:month] %>
 			<% @abc=Service.find_by_sql("select date_format(transdate,'%M')as Monthname from transactmaster
											where month(transdate)='#{@a}' ") %>
		
			<% if @abc[0]==nil %>
			  
			 <!-- <p align="center"> No Data Found </p> -->
             
            <% else %>								
											<%= @abc[0].Monthname%>
 			<%= @b=params[:date][:year] %>
 			</td>
 			</tr>
      		<td  width="1048" height="191"> &nbsp;<div class=clsDataGrid id=divList bgcolor=white style="width: 700; height: 250"> 			
 			<div align="center">
              <center> 			
 			<table border="0" width ="1014" cellpadding="0"  cellspacing="0"  bordercolor="#111111"   id="AutoNumber1"  height="1" style="border-collapse: collapse" bgcolor="#FFFFFF">
            <tr align=center>
									
			
		   
			
		   <%	@data=Service.find_by_sql("select login,ctypeid,count(tokenno) as tokenno ,avg(time_to_sec(timetaken)) as timeavg,avg(time_to_sec(waittime)) as waitavg,sum(score),CONCAT_WS(' ',sum(score),'/',count(tokenno)*10,' ', format(sum(score)/count(tokenno)*10,0),'%') as percentage
											from transactmaster
											where month(transdate)='#{@a}' and year(transdate)='#{@b}' and tokenstatus=1
											group by ctypeid") %>
											
			<% p @data.inspect %>								
	
	   <tr  bgcolor="#336699">
	     

		<th height="1"  bgcolor="#336699" width="52" border="1">
        <p align="left">
        <font color=white face="Arial" size="2">Telller&nbsp;Name</font></th>
      	<th height="1"  bgcolor="#336699" width="134" border="1">
        <p align="left">
        <font color=white face="Arial" size="2">Customer Type</font></th>
      	<th nowrap height="1" bgcolor="#336699" width="103">
        <p align="left">
        <font face="Arial" size="2" color="#FFFFFF">Token Served</font></th>
		<th  height="1"  bgcolor="#336699" width="132">
        <p align="left">
        <font color=white face="Arial" size="2">Avg Time To Service</font></th>
		<th nowrap height="1"  bgcolor="#336699" width="96" align="left">
        <font color=white face="Arial" size="2">Avg Wait Time</font></th>
		<th  height="1"  bgcolor="#336699" width="86" align="left">
        <font color=white face="Arial" size="2">Employee&nbsp;Score%</font></th>
       </tr>
		
			
		<% @data.each do |c|%> 				
    	<tr border=0>
		<td width="52" height="24"><font size=1> <%=c.login %></font></td>
		<td width="134" height="17"><font size="1" face="Arial">
		<% Customertype.find(:all, :conditions => ["ctypeid=?", c.ctypeid]).each do |d| %>
                 <%= d.ctypedesc %>
                 <%end%></font>&nbsp;</td>
		<td   height="17" align=left width="103" ><font size="1" face="Arial"><%= c.tokenno%></font></td>
		<td width="132" height="17" align="center"><font size="1" face="Arial">
		
		    <% seconds   =  c.timeavg.to_i % 60
								c.timeavg = (c.timeavg.to_i - seconds.to_i) / 60
								minutes    =  c.timeavg.to_i % 60
								c.timeavg = (c.timeavg.to_i - minutes.to_i) / 60
								hours      =  c.timeavg.to_i % 24 %>
								
								<% if(hours<10)
									hours="0#{hours}"
								end

								if(minutes<10)
									minutes="0#{minutes}"
								end

								if(seconds<10)
									seconds="0#{seconds}"
								end %>
								
								<%= "#{hours}:#{minutes}:#{seconds}"  %>

			&nbsp;</font></td>
		<td width="96" height="17"><font size="1" face="Arial">
		     <% seconds   =  c.waitavg.to_i % 60
								c.waitavg = (c.waitavg.to_i - seconds.to_i) / 60
								minutes    =  c.waitavg.to_i % 60
								c.waitavg = (c.waitavg.to_i - minutes.to_i) / 60
								hours      =  c.waitavg.to_i % 24 %>
								
								<% if(hours<10)
									hours="0#{hours}"
								end

								if(minutes<10)
									minutes="0#{minutes}"
								end

								if(seconds<10)
									seconds="0#{seconds}"
								end %>
								
								<%= "#{hours}:#{minutes}:#{seconds}"  %>

			&nbsp;</font></td>
		
		<td width="86" height="17"><font size="1" face="Arial">
			<%= c.percentage %>&nbsp;</font></td>
	   
	   </tr>
	   	<% end %>  
    	<tr border=0>
		 <td width="144" height="1" >
				<p align="left"><font size="2" color="#336699">Total Serviced:
		<% @abc=Service.find_by_sql("select count(tokenno) as tokenno
										from transactmaster
										where month(transdate)='#{@a}' and tokenstatus=1 and year(transdate)='#{@b}' ") %>
										
										<%= @abc[0].tokenno %>
										</font></td>
		 <td width="229" height="1" colspan="3" >
				<p align="left"><font size="2" color="#336699">Avg Mean Time To Serve:
         <% @abc=Service.find_by_sql("select avg(time_to_sec(timetaken)) as timetaken
										from transactmaster
										where month(transdate)='#{@a}' and tokenstatus=1 and year(transdate)='#{@b}' ") %>
										
										<% seconds   =  @abc[0].timetaken.to_i % 60
								@abc[0].timetaken = (@abc[0].timetaken.to_i - seconds.to_i) / 60
								minutes    =  @abc[0].timetaken.to_i % 60
								@abc[0].timetaken = (@abc[0].timetaken.to_i - minutes.to_i) / 60
								hours      =  @abc[0].timetaken.to_i % 24 %>
								
								<% if(hours<10)
									hours="0#{hours}"
								end

								if(minutes<10)
									minutes="0#{minutes}"
								end

								if(seconds<10)
									seconds="0#{seconds}"
								end %>
								
								<%= "#{hours}:#{minutes}:#{seconds}"  %>

          </font></td>
		
		 <td width="250" height="1" colspan="2" >
				<p align="left"><font size="2" color="#336699">Avg Wait Time:		
		<% @abc=Service.find_by_sql("select avg(time_to_sec(waittime)) as timetaken
										from transactmaster
										where month(transdate)='#{@a}' and tokenstatus=1 and year(transdate)='#{@b}' ") %>
										
										<% seconds   =  @abc[0].timetaken.to_i % 60
								@abc[0].timetaken = (@abc[0].timetaken.to_i - seconds.to_i) / 60
								minutes    =  @abc[0].timetaken.to_i % 60
								@abc[0].timetaken = (@abc[0].timetaken.to_i - minutes.to_i) / 60
								hours      =  @abc[0].timetaken.to_i % 24 %>
								
								<% if(hours<10)
									hours="0#{hours}"
								end

								if(minutes<10)
									minutes="0#{minutes}"
								end

								if(seconds<10)
									seconds="0#{seconds}"
								end %>
								
								<%= "#{hours}:#{minutes}:#{seconds}"  %>

		</font></td>
	   
	  
    <% end %>
	 
		
	
	</table>
  </center>
 </div>
</div>
</tr>
</table>
</table>
</body>

</html>