<html>

<head>
<%= javascript_include_tag "prototype","effects","application",:defaults %> <%= stylesheet_link_tag 'calendar_date_select/silver.css' %>
<%= javascript_include_tag 'calendar_date_select/calendar_date_select.js'%> <%= javascript_include_tag 'calendar_date_select/format_db.js'%>
<script>
function first()
					{
						alert("hi");
						var div_ref = document.all("f_tiff_div");
						div_ref.style.visibility = "visible";

						
		
			        }
</script>
</head>
<body>
<form action="countersummary">
<p align="center"><b><font face="Arial" size="5" color="#336699">Counter Summary Report </font></b></p><br />

<b>

<font face="Arial" size="2" color="#336699">FROM:&nbsp; </font>
        <%= calendar_date_select_tag :startdate , Date.today.to_s,  :popup => "force" %><br />
        </p>
        <p align="center">
        <font face="Arial" size="2" color="#336699"><b>TO:&nbsp; </font>
        
       <%= calendar_date_select_tag :enddate , Date.today.to_s,  :popup => "force" %> </br />
       </p>
       <p align="center">
       <input type="submit" value="OK">
          </p>
          </form>     
       
</body>
</html>