<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<%= javascript_include_tag 'jquery','rails','highcharts'%>

  <script type="text/javascript"> 
    
        var chart; 
       
      
        $(document).ready(function() { 
             chart = new Highcharts.Chart({ 
             chart: { 
  
                        renderTo: 'container', 
                        defaultSeriesType: 'column',
                        margin: [50,50,210,90]                        
                     }, 
  
            title: { 
  
                      text: '' 
  
                    }, 
  
            xAxis: { 
  
                      categories: [<%= @dev %>],
                        labels: {
                                  rotation: -55,
                                  align: 'right',
                                  style: {
                                                  font: 'normal 12px arial, arial'
                                            }                      
                                  }
                    }, 
  
            yAxis: { 
  
                      min: 0, 
                      title: { 
                                text: 'No of Tokens' 
                              } 
  
                    }, 
            legend: { 
  
                    style: { 
                              left: 'auto', 
                              bottom: 'auto', 
                              right: '70px', 
                              top: '35px' 
                            }, 
  
                        
                            borderColor: '#CCC', 
                            borderWidth: 1, 
                            shadow: false 
                      }, 
            tooltip: { 
                          formatter: function() { 
                                                  return '<b>'+ this.x +'</b><br/>'+ 
                                                  this.series.name +': '+ this.y +'<br/>'+ 
                                                  'Total: '+ this.point.stackTotal; 
                                               } 
                     }, 
  
            plotOptions: { 
                                  column: { 
                                  stacking: 'normal' 
                                  } 
                              }, 
            series: [{ 
                          name: 'Sum of token served', 
                          data: [<%= @arr1.join(',') %>]

                       }, { 
                          name: 'Sum of token pending', 
                          data: [<%= @arr2.join(',')  %>]
                     }] 
  
});   
}); 
  
        </script> 
  
  
	</head>
	<body>
		<% session[:values] %>
		<!-- 3. Add the container -->
		<table border=0 width="850" height="50">
 		<tr>
          <td height="17" width="1048" style="border-style: solid; border-width: 1">
          
          <p align=center>
      		<font face="Arial" size="4" color="#336699">Branch analysis chart  </font>
      		</p>
          <p><br/>
      		 </p>
      		 <p align="left"><b>Generated On:</b> <%= Date.today %> 
      		 <h4 align="right">From: <%= "#{params[:startdate]}" %> To: <%= "#{params[:enddate]}" %></h5> 
          <p></p>
      		 <p><b>Branch Name:<% @t = Service.find_by_sql("select branchname as b1 from settings" )%><%= @t[0].b1 %></b></p>

      		</td>
      		</tr>

        </table>
        

		<div id="container" style="width: 800px; height: 400px; margin: 0 auto"></div>
		
				
	</body>
</html>