<% for column in Versionhistory.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @versionhistory.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @versionhistory %> |
<%= link_to 'Back', :action => 'list' %>
