*{ margin:0;
	padding:0;
}

body{
	 
	 width:auto;
	 height:auto;
	 font-family: Zurich BT;
	 
	 background-repeat:repeat;
	 background-position: center 50% 
	 
	 
	
	
}
 table{
 
 }

a:link, a:active, a:visited{
	 	color: #800000;
	 	font-style:bold;
}

a:hover{
		color:blue;
		font-style:bold;
}

input { margin-bottom:5px;}

p{
	line-height:150%;
}

div#container{
width:auto/*760px*/;
margin:0 auto;
}

div#header{

text-align:left;
/*padding-bottom:15px;*/
}

div#content{
float:center;
width:auto;
padding:10px;

}

div#content h3{
margin-top:15px;
}

div#sidebar{
width:200px;
margin-left:480px;
}
.fieldWithErrors {
  padding: 2px;
  background-color:#990000 ;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #990000;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #990000;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

div.uploadStatus {
  margin: 5px;
}

div.progressBar {
  margin: 5px;
}

div.progressBar div.border {
  background-color: #fff;
  border: 1px solid grey;
  width: 100%;
}

div.progressBar div.background {
  background-color: #333;
  height: 18px;
  width: 0%;
 
}

#banner {
background: url('images/banner_contact.JPG');
	
}

#logo_accounts {
background: url('images/logo.gif');

}	

#logo {
background: url('images/icici.jpg');

}	
	
#login {
background: url('images/login.jpg');

}	
#client {
background: url('images/icici_logo_3.gif');

}	

#logout {
background: url('images/logout.jpg');

}
links a:link{
	 	color: white;
	 	font-style:bold;
	 	}
	 	
links a:visited{
	 	color: white;
	 	font-style:bold;
	 	}
	 	
	 	
links a:active{
	 	color: white;
	 	font-style:bold;
	 	}
	 	
	 	
#notice{
     background:url('images/notice_error.jpg') repeat-x;
     color:green;
     width:500px;
     height:50px;
     text-align:center;
     padding:5px;
     margin:0px auto;
     }	 	