
<!-- An unpublished work of Sprylogic Technologies Ltd.  -->
<!-- ? Copyright Sprylogic Technologies Ltd. 2008. All rights reserved  -->


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ICICI Admin</title>
<STYLE type="text/css"> 
  
DIV.clsDataGrid { 
BORDER-RIGHT:none; 
BORDER-TOP: none; 
BORDER-LEFT: none; 
BORDER-BOTTOM: none; 
OVERFLOW: scroll; 
WIDTH:300px; 
HEIGHT:100px;
} 
</STYLE> 
<%= javascript_include_tag "prototype","effects",:defaults %>
</head>

<body><table border=0 ><tr><td bgcolor="#FFFFFF">
<table align="left" border=5 bordercolor="#800000" width="305"><tr>
  <td width="287">

<%= start_form_tag :controller=> 'displayscrollmsgs', :action => 'create' %>
<%= error_messages_for 'displayscrollmsg' %>

<h3 align="center"><font color="#800000" face="Arial" size="3">New scroll Msg</font></h3> 
<p>&nbsp;</p>  


<p align=center><label for="scrollmsg_scrollmsg"><b>
<font face="Arial" size="2" color="#800000">Enter 
the Text for Scroll Msg</font></b></label></br>

<%= text_field 'scrollmsg', 'scrollmsg' %> </font><br>
<font color="#990000">
&nbsp;<input type="submit" value="Create" class="primary" style="font-family: Arial; font-size: 8pt" />&nbsp;&nbsp;&nbsp;

<%= button_to_function 'Cancel' , remote_function(:url=> {:controller=>'displayscrollmsgs',:action => "back1" }),:id=>'Back1', :style=>"font-family: Arial; font-size: 8pt" -%>
<br>
<br>
</td></tr>
</table>
   </td></tr></table>
</body>
</html>