<% for column in Scrollmsg.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @scrollmsg.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @scrollmsg %> |
<%= link_to 'Back', :action => 'list' %>
